@font-face {
  font-family: Public Sans;
  src: url(https://fonts.google.com/specimen/Public+Sans);
}
* {
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  font-size: 15px;
  font-family: "Josefin Sans", sans-serif;
}

.container {
  max-width: 1200px;
  padding: 0 1rem;
  margin: auto;
}

.row {
  display: flex;
  flex-flow: row wrap;
  margin: 0 -1rem;
}

[class^=col-] {
  flex: 1 0 auto;
  padding: 0 1rem;
}

.col-1 {
  flex-basis: 8.3333333333%;
  max-width: 8.3333333333%;
}

.col-2 {
  flex-basis: 16.6666666667%;
  max-width: 16.6666666667%;
}

.col-3 {
  flex-basis: 25%;
  max-width: 25%;
}

.col-4 {
  flex-basis: 33.3333333333%;
  max-width: 33.3333333333%;
}

.col-5 {
  flex-basis: 41.6666666667%;
  max-width: 41.6666666667%;
}

.col-6 {
  flex-basis: 50%;
  max-width: 50%;
}

.col-7 {
  flex-basis: 58.3333333333%;
  max-width: 58.3333333333%;
}

.col-8 {
  flex-basis: 66.6666666667%;
  max-width: 66.6666666667%;
}

.col-9 {
  flex-basis: 75%;
  max-width: 75%;
}

.col-10 {
  flex-basis: 83.3333333333%;
  max-width: 83.3333333333%;
}

.col-11 {
  flex-basis: 91.6666666667%;
  max-width: 91.6666666667%;
}

.col-12 {
  flex-basis: 100%;
  max-width: 100%;
}

.overflow {
  overflow: hidden;
}

.none-display {
  display: none;
}

.block {
  display: none;
}

button:hover {
  cursor: pointer;
  filter: brightness(1.2);
}

.btn {
  max-width: 200px;
  width: 100%;
  border-radius: 30px;
  border: none;
  background: linear-gradient(90deg, hsl(136, 65%, 51%) 0%, hsl(192, 70%, 51%) 100%);
  line-height: clamp(45px, 6vw, 50px);
  color: hsl(0, 0%, 100%);
  font-weight: 700;
}

header {
  background: hsl(0, 0%, 100%);
  position: relative;
}
header .row {
  align-items: center;
  padding: 0 1rem;
}
header .row h1 img {
  max-width: 180px;
  min-width: 130px;
  width: 100%;
}
header .row .col-6 {
  margin: 0 auto;
}
header .row .col-6 nav {
  text-align: center;
}
header .row .col-6 nav a {
  color: hsl(233, 8%, 62%);
  text-decoration: none;
  margin-right: clamp(15px, 1.5vw, 29px);
  line-height: 70px;
  font-size: 0.9rem;
}
header .row .col-6 nav a:hover {
  border-bottom: 4px solid hsl(136, 65%, 51%);
}
header .row .col-12 {
  display: none;
  position: absolute;
  background: hsl(0, 0%, 98%);
  border-radius: 10px;
  max-width: 696px;
  width: 100%;
  padding: 50px 0 30px;
  box-shadow: 0 0 160px 20px black;
}
header .row .col-12 a {
  display: block;
  text-align: center;
  color: hsl(233, 26%, 24%);
  text-decoration: none;
  margin-bottom: 20px;
}
header .row .display {
  display: block;
}
header .row .no-display {
  display: none;
}
header .row .flex {
  display: flex;
  justify-content: right;
}
header .row .flex .btn {
  margin-left: auto;
}

.wrap-2 {
  background: url(images/wrap-2.jpg) right no-repeat;
}
.wrap-2 .col-12 {
  display: none;
}
.wrap-2 .col-12 img {
  max-width: 429px;
  width: 100%;
}
.wrap-2 .col-5 {
  padding: 120px 1rem 320px;
}
.wrap-2 .col-5 h2 {
  font-size: clamp(2.5rem, 4.8vw, 3.8rem);
  font-weight: 300;
  color: hsl(233, 26%, 24%);
}
.wrap-2 .col-5 p {
  padding: 30px 0;
  color: hsl(233, 8%, 62%);
  line-height: 25px;
  font-size: 1.1rem;
}
.wrap-2 .col-5 .col-8 {
  padding: 0;
}

.wrap-3 h2 {
  font-size: 2.3rem;
  font-weight: 100;
  color: hsl(233, 26%, 24%);
}
.wrap-3 p {
  padding: 30px 0;
  color: hsl(233, 8%, 62%);
  line-height: 25px;
  font-size: 1.1rem;
}

.wrap-4 {
  padding: 80px 0 90px;
}
.wrap-4 .row {
  padding: 0 1rem;
}
.wrap-4 .row img {
  margin-bottom: 30px;
  max-width: 72px;
  width: 100%;
  height: auto;
}
.wrap-4 .row h2 {
  color: hsl(233, 26%, 24%);
}
.wrap-4 .row p {
  padding: 30px 0;
  color: hsl(233, 8%, 62%);
  line-height: 25px;
  font-size: 1.1rem;
}

.wrap-5 {
  padding: 100px 0;
  background: #FAFAFA;
}
.wrap-5 h2 {
  color: hsl(233, 26%, 24%);
  font-size: 2.3rem;
  font-weight: 100;
  margin-bottom: 4rem;
  padding: 0 1rem;
}
.wrap-5 .row {
  padding: 0 1rem;
}
.wrap-5 .row img {
  max-width: 300px;
  width: 100%;
  vertical-align: bottom;
}
.wrap-5 .row .pad {
  padding: 2rem 1rem;
  background-color: #fff;
}
.wrap-5 .row .pad .figcaption {
  font-size: 0.85rem;
  color: hsl(233, 8%, 62%);
}
.wrap-5 .row .pad h3 {
  color: hsl(233, 26%, 24%);
  padding: 20px 0;
}
.wrap-5 .row .pad p {
  color: hsl(233, 8%, 62%);
}

.wrap-6 {
  padding: 50px 0;
  background: hsl(233, 26%, 24%);
}
.wrap-6 .col-3 {
  margin-right: auto;
}
.wrap-6 .col-3 h2 {
  margin-bottom: 55px;
}
.wrap-6 .col-3 h2 img {
  max-width: 180px;
  min-width: 130px;
  width: 100%;
}
.wrap-6 .col-3 .socials a {
  display: inline-block;
  width: 100%;
  max-width: 20px;
  margin-right: 1vw;
}
.wrap-6 .col-3 .socials svg:hover > path {
  fill: hsl(136, 65%, 51%);
}
.wrap-6 .col-2 a, .wrap-6 .right a {
  display: block;
  color: hsl(0, 0%, 100%);
  text-decoration: none;
  margin-bottom: 20px;
}
.wrap-6 .col-2 a:hover, .wrap-6 .right a:hover {
  color: hsl(136, 65%, 51%);
}
.wrap-6 .col-3 {
  margin-left: auto;
}
.wrap-6 .col-3 .flex {
  display: flex;
  justify-content: right;
}
.wrap-6 .col-3 .flex .btn {
  margin-bottom: 30px;
}
.wrap-6 .col-3 p {
  color: hsl(233, 8%, 62%);
  font-weight: 700;
  text-align: right;
}

@media screen and (max-width: 1400px) {
  .wrap-2 {
    background-position: 125%;
  }
  .wrap-2 .col-5 {
    padding: 120px 1rem 250px;
  }
  .wrap-4 {
    padding: 80px 0 10px;
  }
}
@media screen and (max-width: 1200px) {
  .wrap-2 {
    background-position: 150%;
  }
}
@media screen and (max-width: 1075px) {
  .wrap-2 {
    background-position: 220%;
  }
}
@media screen and (max-width: 1026px) {
  .wrap-3 .m-12 {
    flex-basis: 60%;
    max-width: 60%;
  }
}
@media screen and (max-width: 1000px) {
  .wrap-2 {
    background-position: 300%;
  }
}
@media screen and (max-width: 920px) {
  .wrap-2 {
    background-position: 450%;
  }
  .wrap-2 .col-5 {
    padding-bottom: 170px;
  }
}
@media screen and (max-width: 880px) {
  .wrap-2 {
    background-position: 800%;
  }
}
@media screen and (max-width: 840px) {
  .wrap-2 {
    background-position: 1200%;
  }
}
@media screen and (max-width: 820px) {
  .wrap-2 {
    background-position: 1800%;
  }
}
@media screen and (max-width: 816px) {
  .wrap-2 {
    background-position: 2600%;
  }
}
@media screen and (max-width: 804px) {
  .wrap-6 .col-3 .socials img {
    margin-right: 7px;
  }
  .wrap-2 {
    background-position: 6000%;
  }
}
@media screen and (max-width: 800px) {
  .wrap-2 {
    background-position: 10000%;
  }
}
@media screen and (max-width: 798px) {
  .wrap-2 {
    background-position: 15000%;
  }
}
@media screen and (max-width: 796px) {
  .wrap-2 {
    background-position: 20000%;
  }
}
@media screen and (max-width: 795px) {
  .none {
    display: none;
  }
  .m-12 {
    flex-basis: 100%;
    max-width: 100%;
    text-align: center;
  }
  .wrap-1 {
    padding: 20px;
  }
  .wrap-1 .col-3 img {
    max-width: 250px;
    width: 150%;
  }
  .wrap-1 .col-12 {
    top: 140%;
    left: 50%;
    transform: translateX(-50%);
  }
  .wrap-1 .block {
    margin-left: auto;
    border: none;
    background: transparent;
    display: block;
  }
  .wrap-2 {
    background: none;
  }
  .wrap-2 .col-5 {
    padding: 110px 0 140px;
  }
  .wrap-3 .m-12 {
    flex-basis: 100%;
    max-width: 100%;
  }
  .wrap-4 {
    padding: 130px 0 0;
  }
  .wrap-4 .row .m-12 {
    flex-basis: 50%;
    max-width: 50%;
  }
  .wrap-4 .row p {
    margin-bottom: 25px;
  }
  .wrap-5 h2 {
    text-align: center;
  }
  .wrap-5 .row .m-12 {
    flex-basis: 50%;
    max-width: 50%;
  }
  .wrap-5 .row img {
    width: 100%;
    max-width: 600px;
  }
  .wrap-6 .col-3 h2 {
    margin-bottom: 35px;
  }
  .wrap-6 .col-3 .socials {
    margin-bottom: 35px;
  }
  .wrap-6 .col-3 .socials a {
    margin-right: 25px;
  }
  .wrap-6 .col-3 .flex {
    justify-content: center;
  }
  .wrap-6 .col-3 p {
    text-align: center;
  }
  .wrap-6 .col-2 a {
    margin-bottom: 30px;
  }
}
@media screen and (max-width: 429px) {
  .wrap-1 .row {
    padding: 0;
  }
  .wrap-1 .row .col-12 {
    top: 120%;
    left: 50%;
    transform: translateX(-50%);
    max-width: 386px;
    width: 100%;
  }
  .wrap-2 .container {
    padding: 0;
  }
  .wrap-2 .container .col-12 {
    display: block;
    padding: 0;
  }
  .wrap-2 .container .col-5 {
    padding: 120px 2rem 140px;
  }
  .wrap-4 .row .m-12 {
    flex-basis: 100%;
    max-width: 100%;
  }
  .wrap-5 .row .m-12 {
    flex-basis: 100%;
    max-width: 100%;
  }
}
@media screen and (max-width: 376px) {
  .wrap-1 .row .col-12 {
    top: 104%;
    left: 50%;
    transform: translateX(-50%);
    max-width: 336px;
    width: 100%;
    padding: 25px 0 5px;
  }
  .wrap-2 .container .col-5 {
    padding: 70px 2rem 70px;
  }
  .wrap-4 {
    padding: 40px 0 0;
  }
  .wrap-5 {
    padding: 40px 0;
  }
}
@media screen and (max-width: 321px) {
  .wrap-1 .row .col-12 {
    top: 104%;
    left: 50%;
    transform: translateX(-50%);
    max-width: 286px;
    width: 100%;
    padding: 25px 0 5px;
  }
}/*# sourceMappingURL=style.css.map */
